.knapsack .header{
    text-align: center;  
    font-size: 17pt;
    padding-bottom: 10px;
}


.knapsack .header img{
    vertical-align: middle;
    height: 150px;
}

#textOnly{
    padding-bottom: 70px;
}

.knapsack .alert{
    text-align: center;
    opacity: 0;
    background-color: black;  
    color: white;
    position: absolute;
    width: 300px;
    height: 50px;
    left: 200px;
    top: 300px;
    padding-top: 30px;
}


.knapsack .itemBox{
    display: inline-block;
}

.knapsack .items{
    height: 350px;
    width: 350px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.knapsack .item{
    margin: 5px;
    display: inline-block;
    font-size: 10pt;
    text-align: center;
}

.knapsack .item img{
     width: 100px;
}


.knapsack .footer{
    text-align: center;
}

.knapsack .options{
    text-align: center;  
    padding-top: 30px;
}

#startOver{
    margin-left: -435px;
    font-size: 15pt;
}

.knapsack{
    width: 1500px; 
    font-family:sans-serif;
}





